#DATABASE_URL="postgresql://app_usr_infra:ZK2o6W81D6bWzYdcC5W7@127.0.0.1:5432/infra_manage"
DATABASE_URL="postgresql://netbox:J5brHrAXFLQSif0K@127.0.0.1:5432/infra"
KEYCLOAK_URL="https://auth-uit.agetic.gob.bo"
KEYCLOAK_REALM="ciudadaniadigital"
KEYCLOAK_CLIENT_ID="redwood-app"
KEYCLOAK_JWKS_URI="https://auth-uit.agetic.gob.bo/auth/realms/ciudadaniadigital/protocol/openid-connect/certs"
KEYCLOAK_ISSUER="https://auth-uit.agetic.gob.bo/realms/ciudadaniadigital"

API_URL=http://localhost:8911
WEB_PORT=8910
API_PORT=8911
REDIS_URL=redis://localhost:6379
